@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #044ab3;
}

@media (prefers-color-scheme: white) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

.text-shadow {
	text-shadow: 0px 0px 10px black;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
